body {
  background-color: #252526;
  color: whitesmoke;
  text-align: center;
  width: auto;
  max-width: 450px;
  font-family: "Montserrat";
  margin-top: 15vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

p {
  color: #b0b0b0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: 3s fadeIn;
}

.ucr-logo {
  width: 6rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.update-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.update-section {
  margin-right: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.update-section h3 {
  margin-bottom: 0.25rem;
}

.update-section p {
  margin-top: 0.25rem;
}

.footer {
  text-align: center;
}

.footer h2 {
  margin-bottom: 0.5rem;
}

.footer-link-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-link {
  margin-left: 1rem;
  margin-right: 1rem;
}

a {
  color: #f1ab00;
}